.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.name{
  font-weight: 500;
  padding-right: 5px;
}
.row{
  row-gap: 25px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.password{
   margin: 50px auto;
  /* padding-left: 50px;  */
}
label{
  font-weight: 500;
  font-size: 18px;
}
.aaa{
   margin:10px auto;
  padding-left: 50px;
 
}
.App-link {
  color: #61dafb;
}
.next{
  margin: 10px 10px 0 0;
  padding-left: 10px;
}
#search{
  width: 20%;
  margin-right: 25px;
}
header{
  display: flex;
}
#short{
  margin-left:20px;
}
.page{
  display: flex;
  justify-content: center;
}

/* .data{
  height: 100%;
  width: 100%;
   border: 1px solid black;  */
 /* padding:  20px 0px 0px 6px; */
  /* margin: 5px; */
/* } */
.card-img-top{
  width: 200px !important;
  height: 200px;
  margin: 15px auto;
 /* padding: 20px 0px 0px 80px; */
 text-align: center;
}
span{
  font-weight: 800;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
